<div id="form">
  <form action='/' enctype="multipart/form-data" method='POST'>
    <input name="myfile" type="file" />
    <br>
    <input type="submit" value="Upload" />
  </form>
</div>

<h1> <%= @worksheet %> </h1>